<!doctype html>
<html>
<head>
    <title>SnEaKer BoX</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>

        <meta charset="utf-8">
    	<!-- <meta name="description" content="Your description goes here"> -->
    	<!-- <meta name="keywords" content="one, two, three"> -->
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>

		<title>SnEaKer BoX</title>
		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		
	</head>
	<body>

		<div class="container">
            <span class="text1"><span>SnEaKer</span><span></span><span> Bo.</span> <span>X</span></span>
        </div>

		<section class="khfInfo">
			<ul>
                <li><a class ="firstNav" href="/login" class="btn btn-default" class="blue">login</a></li>
                <li><a class ="firstNav" href="/search" class="btn btn-default" class="red">search</a></li>
				<li><a class ="firstNav" href="/community" class="btn btn-default" class="green">sneaker collection</a></li>
				
        	</ul>
		</section>
		<!-- external JavaScript link -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="js/main.js"></script>
	</body>




<!-- <div class="container">

        <div class ="homeHeader">
            <h1>Restaurant Reviews</h1>
        </div>
        <div class="logininputs">

        

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>LOGIN</a>
        

    </div>

</div> -->
</body>
</html>
