<!doctype html>
<html>
<head>


    <title>SnEaKer BoX</title>
    
    <link href="/css/profilestage.ejs" rel="stylesheet" type="text/css">
</head>
<body>
        
        <meta charset="utf-8">
    	<!-- <meta name="description" content="Your description goes here"> -->
    	<!-- <meta name="keywords" content="one, two, three"> -->
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>

		<title>SnEaKer BoX</title>
		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>

		<div class="datepicker">
    <p><input type="text" class="datepicker-input" id="datepicker-from"></p>
    <p></p>
    <p><input type="text" class="datepicker-input" id="datepicker-to"></p>
    <input type="submit" class="apply-cta" value="apply" aria-label="Check dates">
</div>


<div class="tab-container">
      <a href="#" data-category="bob" class="tab">Bob</a>
      <a href="#" data-category="dog" class="tab">Dog</a>
      <a href="#" data-category="cat" class="tab">Cat</a>
      <a href="#" data-category="all" class="tab">All</a>
  </div>



<div class="grid-container">
  
 <!--  ROW 1  --> 
  
 <div class="max-width-container">
  <div class="item-container" data-show="false" data-category="bob" data-start="20190103" data-max="20190217" tabindex="0">
    <a href="#" class="grid-item"></a>
    <div class="arrow-up hide"></div>
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/978186/plus-icon.svg" alt="" class="expand-icon"/>
  </div>
   <div class="dropdown-content hideContent">
      <div class="dropdown-content-flex-container">
          <!--     carousel     -->

                  <div class="bg-image dropdown-content-flex-container__child"></div>

          <!--     carousel -- END   -->



          <!--     text content     -->

                  <div class="text-content dropdown-content-flex-container__child">
                    <h2>Content 1</h2>
                    <h2>bob</h2>
                    <h3>Content 1 sub heading</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim reprehenderit quibusdam saepe dolores velit beatae corporis voluptate ipsa vero volupta.</p>
                  </div>

          <!--     text content -- END   -->
        
     </div>
     <span class="close-btn" tabindex="0">X</span>
   </div>
  <div class="item-container" data-show="false" data-category="bob" data-start="20190103" data-max="20191117" tabindex="0">
    <a href="#" class="grid-item"></a>
    <div class="arrow-up hide"></div>
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/978186/plus-icon.svg" alt="" class="expand-icon"/>
  </div>
   <div class="dropdown-content hideContent">
      <div class="dropdown-content-flex-container">
          <!--     carousel     -->

                  <div class="bg-image dropdown-content-flex-container__child"></div>

          <!--     carousel -- END   -->



          <!--     text content     -->

                  <div class="text-content dropdown-content-flex-container__child">
                    <h2>Content 2</h2>
                     <h2>bob</h2>
                    <h3>Content 2 sub heading</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim reprehenderit quibusdam saepe dolores velit beatae corporis voluptate ipsa vero volupta.</p>
                  </div>

          <!--     text content -- END   -->
        
     </div>
     <span class="close-btn" tabindex="0">X</span>
   </div>
  <div class="item-container" data-show="false" tabindex="0"  data-category="dog">
    <a href="#" class="grid-item"></a>
    <div class="arrow-up hide"></div>
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/978186/plus-icon.svg" alt="" class="expand-icon"/>
  </div>
      <div class="dropdown-content hideContent">
      <div class="dropdown-content-flex-container">
          <!--     carousel     -->

                  <div class="bg-image dropdown-content-flex-container__child"></div>

          <!--     carousel -- END   -->



          <!--     text content     -->

                  <div class="text-content dropdown-content-flex-container__child">
                    <h2>Content 3</h2>
                    <h2>dog</h2>
                    <h3>Content 3 sub heading</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim reprehenderit quibusdam saepe dolores velit beatae corporis voluptate ipsa vero volupta.</p>
                  </div>

          <!--     text content -- END   -->
        
     </div>
     <span class="close-btn" tabindex="0">X</span>
   </div>
  <div class="item-container" data-show="false" tabindex="0">
    <a href="#" class="grid-item"></a>
    <div class="arrow-up hide"></div>
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/978186/plus-icon.svg" alt="" class="expand-icon"/>
  </div>
   <div class="dropdown-content hideContent">
      <div class="dropdown-content-flex-container">
          <!--     carousel     -->

                  <div class="bg-image dropdown-content-flex-container__child"></div>

          <!--     carousel -- END   -->



          <!--     text content     -->

                  <div class="text-content dropdown-content-flex-container__child">
                    <h2>Content 4</h2>
                    <h3>Content 4 sub heading</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim reprehenderit quibusdam saepe dolores velit beatae corporis voluptate ipsa vero volupta.</p>
                  </div>

          <!--     text content -- END   -->
        
     </div>
     <span class="close-btn" tabindex="0">X</span>
   </div>
  
<!--  ROW 2  -->
  
   <div class="item-container" data-show="false" tabindex="0">
    <a href="#" class="grid-item"></a>
     <div class="arrow-up hide"></div>
     <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/978186/plus-icon.svg" alt="" class="expand-icon"/>
  </div>
      <div class="dropdown-content hideContent">
      <div class="dropdown-content-flex-container">
          <!--     carousel     -->

                  <div class="bg-image dropdown-content-flex-container__child"></div>

          <!--     carousel -- END   -->



          <!--     text content     -->

                  <div class="text-content dropdown-content-flex-container__child">
                    <h2>Content 5</h2>
                    <h3>Content 5 sub heading</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim reprehenderit quibusdam saepe dolores velit beatae corporis voluptate ipsa vero volupta.</p>
                  </div>

          <!--     text content -- END   -->
        
     </div>
     <span class="close-btn" tabindex="0">X</span>
   </div>
  <div class="item-container" data-show="false" tabindex="0">
    <a href="#" class="grid-item"></a>
    <div class="arrow-up hide"></div>
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/978186/plus-icon.svg" alt="" class="expand-icon"/>
  </div>
      <div class="dropdown-content hideContent">
      <div class="dropdown-content-flex-container">
          <!--     carousel     -->

                  <div class="bg-image dropdown-content-flex-container__child"></div>

          <!--     carousel -- END   -->



          <!--     text content     -->

                  <div class="text-content dropdown-content-flex-container__child">
                    <h2>Content 6</h2>
                    <h3>Content 6 sub heading</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim reprehenderit quibusdam saepe dolores velit beatae corporis voluptate ipsa vero volupta.</p>
                  </div>

          <!--     text content -- END   -->
        
     </div>
     <span class="close-btn" tabindex="0">X</span>
   </div>
  <div class="item-container" data-show="false" tabindex="0">
    <a href="#" class="grid-item"></a>
    <div class="arrow-up hide"></div>
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/978186/plus-icon.svg" alt="" class="expand-icon"/>
  </div>
      <div class="dropdown-content hideContent">
      <div class="dropdown-content-flex-container">
          <!--     carousel     -->

                  <div class="bg-image dropdown-content-flex-container__child"></div>

          <!--     carousel -- END   -->



          <!--     text content     -->

                  <div class="text-content dropdown-content-flex-container__child">
                    <h2>Content 7</h2>
                    <h3>Content 7 sub heading</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim reprehenderit quibusdam saepe dolores velit beatae corporis voluptate ipsa vero volupta.</p>
                  </div>

          <!--     text content -- END   -->
        
     </div>
     <span class="close-btn" tabindex="0">X</span>
   </div>
  <div class="item-container" data-show="false" tabindex="0">
    <a href="#" class="grid-item"></a>
    <div class="arrow-up hide"></div>
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/978186/plus-icon.svg" alt="" class="expand-icon"/>
  </div>
   <div class="dropdown-content hideContent">
      <div class="dropdown-content-flex-container">
          <!--     carousel     -->

                  <div class="bg-image dropdown-content-flex-container__child"></div>

          <!--     carousel -- END   -->



          <!--     text content     -->

                  <div class="text-content dropdown-content-flex-container__child">
                    <h2>Content 8</h2>
                    <h3>Content 8 sub heading</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim reprehenderit quibusdam saepe dolores velit beatae corporis voluptate ipsa vero volupta.</p>
                  </div>

          <!--     text content -- END   -->
        
     </div>
     <span class="close-btn" tabindex="0">X</span>
   </div>
        
  </div>
</div>
</div>
  
</div>

</body>
</html>
