<!doctype html>
<html>
<head>
    <title>Restaurant Review</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/signup.css">
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

        <header id="main">
                <!-- <h1>Fixed Nav Bar Demo</h1> -->


                <nav>
                    <ul>
                        <!-- <li><a href="#"><img src="" alt=""></a></li> -->
                        <li><a href="#">About</a></li>
                        <li><a href="/profile">Sneaker Collections</a></li>
                        <li><a href="/login">login</a></li>
                        <li><a href="/">home</a></li>
                    </ul>
                </nav>
            </header>

    <h1>Create Account</h1>

    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/signup" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>
        <div class="form-group">
            <label>Avatar</label>
            <input type="file" name="avatar">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Signup</button>
    </form>

    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>

</div>
</div>
</body>
</html>
